In [48]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'X': [10, 20, 30],
    'Y': [1, 2, 3]
})

# Your task: Use `apply` to add a new column 'Z' that sums X and Y
# Expected result:
#     X   Y   Z
# 0  10   1  11
# 1  20   2  22
# 2  30   3  33

In [49]:
# df['Sum'] = df.apply(lambda row: row['A'] + row['B'], axis=1)

df["Z"] = df.apply(lambda row: int(row[0] + row[1]),axis=1)

In [50]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# Your task: Use `apply` to calculate the mean of each column
# Expected result: Series with the mean of columns A, B, and C.
# A    2.0
# B    5.0
# C    8.0

In [51]:
import numpy as np
mean = df.apply(lambda row: np.mean(row),axis=1)

In [52]:
mean

0    4.0
1    5.0
2    6.0
dtype: float64

In [53]:
df = pd.DataFrame({
    'Age': [25, 32, 45, 23],
    'Salary': [60000, 48000, 52000, 45000]
})

# Your task: Use `apply` to create a new column 'Category' with 'High' and 'Low'
# Expected result:
#    Age  Salary Category
# 0   25   60000     High
# 1   32   48000      Low
# 2   45   52000     High
# 3   23   45000      Low

In [54]:
df

   Age  Salary
0   25   60000
1   32   48000
2   45   52000
3   23   45000

In [55]:
type(np.array([[1,2],[3,4]])[0,0])

numpy.int64

In [56]:
dd = pd.DataFrame(np.array([1,np.nan]))

In [57]:
np.any(dd.isnull().values)

True

In [58]:
import pandas as pd
import numpy as np

# ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser = pd.Series(np.take(list("abcdefgh"),np.random.randint(0,8,size=30)),index=None)

In [59]:
print(ser)

0     d
1     d
2     a
3     f
4     a
5     c
6     a
7     h
8     h
9     f
10    f
11    c
12    h
13    b
14    b
15    e
16    d
17    h
18    f
19    h
20    g
21    h
22    g
23    g
24    g
25    f
26    h
27    c
28    c
29    d
dtype: object

In [60]:
ser.value_counts()

h    7
f    5
d    4
c    4
g    4
a    3
b    2
e    1
dtype: int64